.container {
    padding-top: 10px;
  background-color:#c8f7f0;
  width: 55%;
  height:95vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 8px#a1a0a0;
}

.heading {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#293331;
  text-align: center;
}

.inputCss {
  display: flex;
  background: none;
  border: 1px solid #293331;
  border-radius: 5px;
  padding: 0.8rem;
  justify-content: space-between;
  color: #c1f7ec;
  width: 90%;
  margin: 0 auto;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  color: #293331;
  width: 100%;
  font-size: 16px;
}

.invisible {
  display: none;
}

.visible {
  display: flex;
  cursor: pointer;
}

.listDiv {
  width: 100%;
  margin-top: 30px;
  max-height: 100%;
  overflow-y: scroll;
}
.listDiv::-webkit-scrollbar {
  display: none;
}

.list {
  font-size: 1rem;
  color: #293331;
  padding: 0.6rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.span {
  font-size: 16px;
}
.editInput {
  background-color: transparent;
  color: #293331;
  outline: none;
  font-size: 16px;
  border: 1px solid#293331;
  padding: 0.2rem;
  border-radius: 5px;
}

.leftDiv {
  display: flex;
  align-items: center;
}

.btnadd {
  padding: 0.5rem 1rem;
  background-color: #293331;
  border: 1px solid #293331;
  color: #c1f7ec;
  cursor: pointer;
  border-radius: 5px;
}

.updatebtn {
  background-color: black;
  border: 1px solid #293331;
  padding: 7px 12px;
  border-radius: 5px;
  color: #c1f7ec;
  cursor: pointer;
}

.bottomDiv {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
  background:#2fad9a;
  border-radius: 5px;
}
